{{#each blogs as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2><a href="/posts/{{blog.id}}">{{blog.name}}</a></h2>
    <p>{{blog.description}}</p>  
   </div>
</div>
{{/each}}
