<h2>Edit this blog post</h2>

<form class="form login-form">
  <div class="form-group">
    <p>Blog title:</p>
    <h3 id="title" contenteditable="true">{{blog.name}} </h3>
  </div>
  <div>
  <p>Blog description:</p>
     <p id="desc" contenteditable="true">{{blog.description}}</p>
    <p>Blog content:</p>
    <p contenteditable="true" id="blog-text">{{blog.content}}</p>
  </div>
  <div class="form-group">
    <button class="btn" type="submit" id="update">Update Post</button>
    <button class="btn" type="submit" id="delete">Delete Post</button>
  </div>
</form>


<script src="/js/deletepost.js"></script>
<script src="/js/updatepost.js"></script>